<div class="headd">
    <ul>

        <li class="logo"><a href="#"><b>Logo</b></a></li>
        <li><a href="/"> Home</a></li>
        <li><a href="/users/members">Members</a></li>
        <!--// an image should be in the logo compartment-->
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
</div>