<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error page</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include partials/header.ejs%>
<b style="color: gold">ER</b><i style="color: blue">ro</i><em style="color: green"></em><b style="color: magenta"><i>404</i></b>
</body>
</html>