<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include partials/header.ejs %>
<h2 style="color: gold">WELCOME TO THE MEMBERS PAGE</h2>
</body>
</html>